[submodule "stm-hal"]
	path = stm-hal
	url = https://github.com/STMicroelectronics/stm32h7xx-hal-driver.git
[submodule "stm-cmsis"]
	path = stm-cmsis
	url = https://github.com/STMicroelectronics/cmsis-device-h7.git
[submodule "CrashCatcher"]
	path = CrashCatcher
	url = https://github.com/quara-dev/CrashCatcher.git
[submodule "cmsis_core"]
	path = cmsis_core
	url = https://github.com/STMicroelectronics/cmsis_core
